<h1>tasks</h1>
<%= link_to 'add new task', new_task_path %>

<ul class="tasks-list">
  <% @tasks.each do |task| %>
    <li class="task-item">
      <div class="task-content">
        <% if task.completed %>
          ✅
        <% else %>
          ⬜
        <% end %>
        <%= link_to task.title, task_path(task), class: "task-title" %>
      </div>
      <%= button_to delete_task_path(task), method: :delete, data: { confirm: "are you sure you want to delete #{ task.title.downcase }?" }, class: "delete-task" do %>
        🗑
      <% end %>
    </li>
  <% end %>
</ul>
